.note_item#new_note{data:{note_id: note.id}}
  #errors
  =form_for(note, remote: true) do |f|
    =f.text_field :title, class: 'form-control', :data => {'error-on' => true}
    .well
      =f.cktext_area :body, class: 'form-control', :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'}
      =f.submit class: 'btn btn-success', id: 'create_new_note'
  %hr