<<<<<<< HEAD
.note_item{data:{note_id: note.id}}
=======
.note_item
>>>>>>> cd077592a63523601f07ea278d86f8177cdcd11b
  %span.note_title
    =note.title
  .well
    %span.note_body
<<<<<<< HEAD
      =note.body.html_safe
=======
      =note.body
>>>>>>> cd077592a63523601f07ea278d86f8177cdcd11b
%hr