.ticket_history
  .history_line
    .well
      Attachments
      .well.history_action_info
        =form_for [note, note.photos.new], :html => { :multipart => true }, method: :post, remote: true do |f|
          =f.label :image
          =f.file_field :image
          =f.submit
