.ticket_history
  .history_line
    .well
      Attachments
      .well.history_action_info
        =form_for [note, Attachment.new], :html => { :multipart => true }, method: :post, remote: true do |f|
          =f.label :attachment
          =f.file_field :file
          =f.submit
