-page_titles('Notes', 'All notes')
.col-sm-8
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        Notes
        =link_to '', new_note_path, remote: true, class: 'glyphicon glyphicon-plus', id: 'add_note'
    .panel-body#notes_panel
      =render partial: 'notes/note_item', collection: @notes, as: :note
  = will_paginate @notes, renderer: BootstrapPagination::Rails
.col-sm-4
  .panel.panel-success
    .panel-heading
      %h3.panel-title
        %i.fa.fa-clock-o.fa-fw
        Note attachments
    .panel-body
      .col-lg-12
        #note_attachments
        #add_attachments_form