-page_titles('Welcome to', 'Notes app')
.col-lg-12
  .panel.panel-default
    .panel-body
      .markdown
        .content.markdown-body
          GIT:
          =link_to 'https://github.com/stopanko/chat', 'https://github.com/stopanko/chat', target: '_blank'
          %br
          HEROKU:
          = link_to 'http://stpchat.herokuapp.com/chat_items/1', 'http://stpchat.herokuapp.com/chat_items/1'