-page_titles('Welcome to', 'Notes app')
.col-lg-12
  .panel.panel-default
    .panel-body
      .markdown
        .content.markdown-body
          GIT:
          =link_to 'https://github.com/stopanko/notes', 'https://github.com/stopanko/notes', target: '_blank'
          %br
          HEROKU:
          = link_to 'http://lightnotes.herokuapp.com/', 'http://lightnotes.herokuapp.com/'