-page_titles('Welcome to', 'Notes app')
.col-lg-12
  .panel.panel-default
    .panel-body
      .markdown
        .content.markdown-body
          GIT:
          =link_to 'https://github.com/stopanko/notes', 'https://github.com/stopanko/notes', target: '_blank'
          %br
          HEROKU:
          = link_to 'http://lightnotes.herokuapp.com/', 'http://lightnotes.herokuapp.com/'


          %p Stepan Boichyshyn
          %p
          %p
            %strong Contact info:
            %strong Education:
          %p High. National University of Khmelnytsky , Specialist Diploma in “Programming Engineering”
          %p
          %p
            %strong Skills:
          %p
          %p WebDevelopment, RubyOnRails 2+.
          %p -- Web:
          %p Erb, html, haml, CSS, Sass, Javascript, Jquery, Coffe.
          %p -- Databases:
          %p MYSQL, Postgres
          %p -- Proffesional:
          %p OOP, TDD, Rspec, Ruby, RubyOnRails, Sidekiq, Nokogiri.
          %p -- VersionControl
          %p git, github, bitbucket
          %p -- OS
          %p Linux, Windows
          %p -- Languages
          %p English(Pre-Intermediate), Ukrainian
          %p -- Work menegment
          %p Trello, Pivotal
          %p
          I have been working with Rails over 2 years. Worked alone and in team. My first projects are moscoweveryday.com, 4mamas-club.com, kovavto.ru. Participated in the development project for American lenders. Used youtube, vk, twitter, facebook API. One of the most challenging tasks was to create auto parts parser and to work with big emount of data received from this parser.


          My Projects : mansite.herokuapp.com, supportissuetracking.herokuapp.com, simpletree.herokuapp.com
          %p
          %p
          %p Additional links:
          %p
            StackOverflow:
            %a{:href => "http://stackoverflow.com/users/3549038/stopanko"} http://stackoverflow.com/users/3549038/stopanko
          %p
            GitHub:
            %a{:href => "https://github.com/stopanko"} https://github.com/stopanko
          %p
            linkedin:
            %a{:href => "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile"} https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile