@import "bootstrap-sprockets";
@import "bootstrap";

#add_note{
  float: right;
  cursor: pointer;
  text-decoration: none;
}

#notes_panel{
  padding: 0px;
}

.note_item{
  padding: 10px 10px 10px 10px;
  &.note_in_edit_now{
    background: #419aff;
  }
  .check_note{
    float: right;
    text-decoration: none;
  }
  .show_note{
    float: right;
    margin-top: -45px;
    margin-right: 10px;
    cursor: pointer;
  }
  .edit_note{
    float: right;
    cursor: pointer;
    text-decoration: none;
  }
  .well{
    &.checked{
      border: 3px solid #7EE09A;
    }
    max-height: 100px;
    overflow-y: hidden;
    span.note_body{
      display: block;
    }
  }
  &#new_note{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .well{
      max-height: 100%;
    }
    #note_title{
      margin-bottom: 5px;
    }
    #create_new_note{
      margin-top: 5px;
    }
  }
}
#photos_attachments{
  .photo_item{
    margin-bottom: 5px;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}