@import "bootstrap-sprockets";
@import "bootstrap";

#add_note{
  float: right;
  cursor: pointer;
  text-decoration: none;
}

#notes_panel{
  padding: 0px;
}

.note_item{
  padding: 10px 10px 10px 10px;
  .well{
    max-height: 100px;
    overflow-y: hidden;
    span.note_body{
      display: block;
  //    max-height: 100px;
  //    overflow-y: hidden;
    }
  }
  &#new_note{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    #note_title{
      margin-bottom: 5px;
    }
    #create_new_note{
      margin-top: 5px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}